{% load static %}
<!DOCTYPE html>
<html lang="en">
 <style type="text/css">
   .table-condensed{
  font-size: 12px;
}
 </style>
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

  <title>Tweet Sentiment Analyzer</title>
    <!-- Bootstrap core CSS -->

  <link rel="stylesheet" type="text/css" href="{% static 'startbootstrap-scrolling-nav-gh-pages/vendor/bootstrap/css/bootstrap.min.css' %}" />
    <!-- Custom styles for this template -->
  <link rel="stylesheet" type="text.css" href="{% static 'startbootstrap-scrolling-nav-gh-pages/css/scrolling-nav.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'startbootstrap-scrolling-nav-gh-pages/css/offcanvas.css' %}" />
  
  <style>
  </style>
  </head>
  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Tweet Sentiment Analyzer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#analyze">Analyze</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#upload">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#preprocessing">Preprocessing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#classification">Classification</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#evaluation">Evaluation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#class">Class</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
   
    <section id="analyze">
      <div class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Analyze Your Sentiment</h6>
          <small>Since 2011</small>
        </div>
      </div>

        <div class="row">
         <div class="col-lg-12 mx-auto" style="text-align:center;">
           <form action="/" method="POST" id="classify">
            {% csrf_token %}
                <p>Enter some text to classify :</p>
                <p>{{ ClassifyForm.text }}</p>
                <input class="btn btn-primary" type="submit" value="Submit"/>
          </form>
           <br></br>
          <p><strong>Sentiment: </strong>{{ text }}</p>
            <br></br>
            <h4>OR</h4>
          </div>
        </div>
      </div>
    </section>

<!--////////////////////////////-->

    <section id="upload">
      <br></br>
      <div class="container">
        <div class="row">
         <div class="col-lg-12 mx-auto" style="text-align:center;">
          <form method="POST" enctype="multipart/form-data" class="form-horizontal" >
          {% csrf_token %}
          <div class="form-group">
          <!-- <input type="file" name="myfile" required="True" class="form-control" style="text-align:center;"> -->
            {{ UploadForm.myfile }}
          </div>
          <div class="form-group">
          <button class="btn btn-primary">Upload</button>
          </div> 

          <br></br>
            <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in tweets %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>
          </div>
        </div>
      </div>
      <br></br>
    </section>

<!--////////////////////////////-->

  <section id="preprocessing">
  <div class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Preprocessing</h6>
          <small>Since 2011</small>
        </div>
  </div>
  <div class="row">    
  <div class="col-lg-12 mx-auto" style="text-align:center;">
  <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="heading1">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
          Lowercase
        </button>
      </h5>
    </div>

    <div id="collapse1" class="collapse" aria-labelledby="heading1" data-parent="#accordionExample">
      <div class="card-body">

        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in lowercase %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>
        
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading2">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
          Remove Number
        </button>
      </h5>
    </div>
    <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
      <div class="card-body">
        
        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in removeNumber %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading3">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
          Remove URL
        </button>
      </h5>
    </div>
    <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
      <div class="card-body">
        
        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in removeUrl %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>

      </div>
    </div>
    </div>
      <div class="card">
    <div class="card-header" id="heading4">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
          Remove RT
        </button>
      </h5>
    </div>

    <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordionExample">
      <div class="card-body">

        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in removeRT %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>
        
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading5">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
          Remove @
        </button>
      </h5>
    </div>
    <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordionExample">
      <div class="card-body">
        
        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in removeAt %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading6">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
          Remove Bad Character
        </button>
      </h5>
    </div>
    <div id="collapse6" class="collapse" aria-labelledby="heading6" data-parent="#accordionExample">
      <div class="card-body">
        
        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in removeBadChar %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>

      </div>
    </div>
    </div>
      <div class="card">
    <div class="card-header" id="heading7">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
          Punctuation
        </button>
      </h5>
    </div>

    <div id="collapse7" class="collapse" aria-labelledby="heading7" data-parent="#accordionExample">
      <div class="card-body">

        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in punctuation %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>
        
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading8">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
          Normalization
        </button>
      </h5>
    </div>
    <div id="collapse8" class="collapse" aria-labelledby="heading8" data-parent="#accordionExample">
      <div class="card-body">
        
        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in normalization %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading9">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
          Remove Stopword
        </button>
      </h5>
    </div>
    <div id="collapse9" class="collapse" aria-labelledby="heading9" data-parent="#accordionExample">
      <div class="card-body">
        
        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in removeStopwords %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>

      </div>
    </div>
    </div>
      <div class="card">
    <div class="card-header" id="heading10">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse10" aria-expanded="false" aria-controls="collapse10">
          Stemming
        </button>
      </h5>
    </div>

    <div id="collapse10" class="collapse" aria-labelledby="heading10" data-parent="#accordionExample">
      <div class="card-body">

        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in stemming %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>
        
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading11">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
          Remove Duplicate
        </button>
      </h5>
    </div>
    <div id="collapse11" class="collapse" aria-labelledby="heading11" data-parent="#accordionExample">
      <div class="card-body">
        
        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in removeDuplicate %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="heading12">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse12" aria-expanded="false" aria-controls="collapse12">
          NER
        </button>
      </h5>
    </div>
    <div id="collapse12" class="collapse" aria-labelledby="heading12" data-parent="#accordionExample">
      <div class="card-body">
        
        <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in tweets %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>

      </div>
    </div>
    </div>
    </div>
    </div>
    </div>
     <br></br>
    </section>


<!--////////////////////////////-->

    <section id="classification">

    <div class="container">
      <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Classification</h6>
          <small>Since 2011</small>
        </div>
    </div>
  
    <div class="row">
    <div class="col-md-6 mx-auto" style="text-align:center;">
      <h3>Super Vector Machine</h3>
            <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                    <td><strong>Hasil Klasifikasi</strong></td>
                    <td><strong>Keterangan</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in classify %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                    <td>{{ tweet.predict }}</td> 
                    <td>{{ tweet.state }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>
            
            <h5>Confusion Matrix</h5>
            <pre><code>{{ conf }}</code></pre>
            <h5>Classification Report</h5>
            <pre><code>{{ report }}</code></pre>
            <pre><code>Accuracy {{ accuracy }}%</code></pre>

          </div>
          <div class="col-md-6 mx-auto" style="text-align:center;">
      <h3>Multi Layer Perceptron</h3>
            <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                    <td><strong>Hasil Klasifikasi</strong></td>
                    <td><strong>Keterangan</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in classify %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                    <td>{{ tweet.predict }}</td> 
                    <td>{{ tweet.state }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>
          <h5>Confusion Matrix</h5>
            <pre><code>{{ conf }}</code></pre>
          <h5>Classification Report</h5>
            <pre><code>{{ report }}</code></pre>
            <pre><code>Accuracy {{ accuracy }}%</code></pre>
            
          </div>
        </div>
      </div>
     <br></br>
    </section>

    <section id="evaluation">  
    <div class="container">
     <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
        <div class="lh-100">
          <h6 class="mb-0 text-white lh-100">Evaluation</h6>
          <small>Since 2011</small>
        </div>
    </div>
    <div class="row">
    <div class="col-md-6 mx-auto" style="text-align:center;">
      <h3>Super Vector Machine</h3>
            <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                    <td><strong>Hasil Klasifikasi</strong></td>
                    <td><strong>Keterangan</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in classify %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                    <td>{{ tweet.predict }}</td> 
                    <td>{{ tweet.state }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>
          </div>
      <div class="col-md-6 mx-auto" style="text-align:center;">
      <h3>Multi Layer Perceptron</h3>
            <table class="table table-sm bordered table-condensed">
              <thead>
                <tr>
                    <td><strong>Tweet</strong></td>
                    <td><strong>Emotion</strong></td>
                    <td><strong>Hasil Klasifikasi</strong></td>
                    <td><strong>Keterangan</strong></td>
                  </tr>
              </thead>
              <tbody>
              {% for tweet in classify %}
                  <tr>
                    <td>{{ tweet.text }}</td>
                    <td>{{ tweet.emotion }}</td> 
                    <td>{{ tweet.predict }}</td> 
                    <td>{{ tweet.state }}</td> 
                  </tr>
              {% endfor %}
             </tbody>
           </table>

          </div>
        </div>
       <br></br>
    </section>

     <section id="class">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto" style="text-align:center;">
            <h2>Evaluasion Per Class</h2>
            <p class="lead">This project was developed using Django, Python Natural Language Toolkit, and Tweepy.
             Tweet sentiment is trained on a 10,000 tweet training set.</p>
          </div>
        </div>
      </div>
       <br></br>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto" style="text-align:center;">
            <h2>About</h2>
            <p class="lead">This project was developed using Django, Python Natural Language Toolkit, and Tweepy.
             Tweet sentiment is trained on a 10,000 tweet training set.</p>
             <img src="http://localhost:8000/_Matplotlib/Bar/" />
          </div>
        </div>
      </div>
       <br></br>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Developed by Josua Simanungkalit | <a href ="https://github.com/litkalit">GitHub</a></p>
      </div>
      <!-- /.container -->
    </footer>
    

    <!-- Bootstrap core JavaScript -->
    
    <!--<link rel="stylesheet" type="text/css" href="{% static 'startbootstrap/vendor/bootstrap/css/bootstrap.min.css' %}" />-->
    
    <script src="{% static 'startbootstrap-scrolling-nav-gh-pages/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'startbootstrap-scrolling-nav-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'startbootstrap-scrolling-nav-gh-pages/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{% static 'startbootstrap-scrolling-nav-gh-pages/js/scrolling-nav.js' %}"></script>
    

  </body>

</html>
  